//* import shrifts and parts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap');

@import "parts/nullstyle.scss";
@import "parts/vars.scss";
@import 'parts/helpers.scss';

//* main styles

.container{ margin: 0 auto; max-width: $mw;
	@media(max-width:$md1){max-width: 970px;};
	@media(max-width:$md2){max-width: 750px;};
	@media(max-width:$md3){max-width: none; padding: 0px 15px;};
	// position: relative;
}

html{
	font-size: $fontsize;
	@media(max-width:$md1){
		font-size: $fontsize - 1px;
	}
	
	@media(max-width:$md2){
		font-size: $fontsize - 2px;
	}
	
	// @media(max-width:$md3){
	// 	font-size: $fontsize - 3px;
	// }
}

body{
	font-family: $fontfamily;
	color: #fff;
	&.lock{
		overflow: hidden;
	}
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
}

@media(max-width:$md3){
	body.lock{
		overflow: hidden;
	}
}

//* parts of scss

@import 'parts/header.scss';
@import 'parts/start.scss';
@import 'parts/taste.scss';
@import 'parts/harvest.scss';
